{% set currentPage = 'home' %}

{% extends "default.html" %}

{% block content %}
<div class="section-type-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="section-area">
                    <section class="b-post">
                        <div class="entry-main">
                            <div class="entry-content">
                                <p>Эта практика Совершенствования обращена в первую очередь к тому, кто сумел достичь в себе, в своей жизни, в определенном смысле всего, что вообще может быть достигнуто человеком, и все-таки не находит удовлетворения, требуя от жизни того, чего в настоящее время она дать ему не может. Если в вас живет жажда познать еще непознанное и стремление к развитию, если вам не дают покоя мучительные вопросы, на которые не удается найти окончательные ответы и стремление к развитию, &mdash; значит, вы и есть тот, кто готов к этой практике Совершенствования.</p>
                            </div>
                        </div>
                    </section>
                    <section class="b-post">
                        <div class="entry-main">
                            <div class="entry-content">
                                <p>"Я мыслю, значит, я существую". Есть такой дар у человека. Но в нас скрыта загадка внутреннего безмолвия, которым Эволюция движет к прогрессу Природу. Мы можем открыть это сокровище.</p>
                            </div>
                        </div>
                    </section>
                    <section class="b-post">
                        <div class="entry-main">
                            <div class="entry-content">
                                <p>Сможете ли вы удержать в своих руках секретный ключ к Совершенствованию, о котором говорят Древние мистерии? Если "да", то откройте ключ для себя.
                                </p>
                                <div class="b-toggle" onclick="$(this).toggleClass('active');">
                                    <div class="b-toggle__link">
                                        <div class="btn-bd-primary">Открыть</div>
                                    </div>
                                    <div class="b-toggle__content">
                                        <p>Он выражается в следующем:</p>
                                        <ol>
                                            <li>Установление внутреннего Свидетеля ( Наблюдателя ).</li>
                                            <li>Расширение сознания. </li>
                                            <li>Погружение во внутреннее сознание.</li>
                                            <li>РАЗБИТИЕ внутреннего существа на части ( или планы сознания ).</li>
                                            <li>Изучение устройства внутреннего духовного механизма и условий правильного функционирования его работы.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-footer">
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}